*,
&::before,
&::after {
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

html {
  font-size: $font-size;
}

body {
  min-width: $width-mobile;
  font: $font;
  text-align: center;
  background-color: $color-bg;
}

.sprite {
  display: none;
}
