@font-face {
  font-family: 'OpenSans';
  font-style: normal;
  font-weight: 400;
  src: local('OpenSans')
    url('../fonts/OpenSans-Regular.ttf');
}

@font-face {
  font-family: 'a_FuturicaMedium';
  font-style: normal;
  font-weight: 400;
  src: local('a_FuturicaMedium'),
    url('../fonts/futur.ttf');
}

@font-face {
  font-family: 'a_FuturicaBook';
  font-style: normal;
  font-weight: 400;
  src: local('a_FuturicaBook'),
    url('../fonts/futuri_1.ttf');
}

